.articleForm {
    overflow: hidden;
}
 
.articleForm label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
.articleForm input, textarea, select {
    float: left;
    width: 90%;
}
 
.articleForm button {
    float: right;
    width: 90%;
}

.articleForm label {
    grid-column: 1 / 2;
}
 
.articleForm input,
button,
textarea,
select {
    grid-column: 2 / 3;
}

.articleForm {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
}