.authForm {
    overflow: hidden;
}
 
.authForm label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
.authForm input {
    float: left;
    width: 90%;
}
 
.authForm button {
    float: right;
    width: 90%;
}

.authForm label {
    grid-column: 1 / 2;
}
 
.authForm input,
button {
    grid-column: 2 / 3;
}

.authForm {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
}