.topicForm {
    overflow: hidden;
}
 
.topicForm label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
.topicForm input {
    float: left;
    width: calc(100% - 200px);
}
 
.topicForm button {
    float: right;
    width: calc(100% - 200px);
}

.topicForm label {
    grid-column: 1 / 2;
}
 
.topicForm input,
button {
    grid-column: 2 / 3;
}

.topicForm {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}