.topicForm {
    overflow: hidden;
}
 
.topicForm label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
.topicForm input {
    float: left;
    width: 90%;
}
 
.topicForm button {
    float: right;
    width: 90%;
}

.topicForm label {
    grid-column: 1 / 2;
}
 
.topicForm input,
button {
    grid-column: 2 / 3;
}

.topicForm {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
}